{% extends "user_app/base.html" %}

{% block content %}
<h2>Профиль пользователя</h2>
<p>👤 Имя: {{ user.username }}</p>
<p>📧 Почта: {{ user.email }}</p>

<!-- Кнопка "Создать рецепт" -->
<a href="{% url 'recipe_app:create_recipe' %}" class="btn btn-primary mb-3">➕ Создать новый рецепт</a>

<p>📝 Ваши рецепты:</p>
<ul>
    {% for recipe in user.recipes.all %}
    <li><a href="{% url 'recipe_app:recipe_detail' recipe.pk %}">{{ recipe.name }}</a></li>
    {% empty %}
    <li>Вы пока не добавили ни одного рецепта.</li>
    {% endfor %}
</ul>
{% endblock %}