# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Django
db.sqlite3
media/
staticfiles/
*.sqlite3

# Environment
.env
.env.*

# VSCode / IDE
.vscode/
.idea/

# Migrations (опционально, если ты хочешь, чтобы они генерировались на стороне сервера)
**/migrations/*.py
!**/migrations/__init__.py

# Byte-compiled / cache
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyc

# Docker
*.pid
*.seed
*.bak
*.swp
docker-compose.override.yml

# Logs
logs/
*.log

# Coverage / test
.coverage
htmlcov/
.tox/
.nox/
.cache/
pytest_cache/

# OS
.DS_Store
Thumbs.db